TICKETMASTER_KEY=your_ticketmaster_api_key_here
SUPABASE_URL=https://gtwisvnkkovmvjibuhvd.supabase.co
SUPABASE_KEY=your_supabase_service_role_key_here

PREDICTHQ_KEY=your_predicthq_api_key_here

RESEND_API_KEY=re_your_api_key_here

FLASK_SECRET=a-long-random-string-here
ADMIN_PASSWORD=your-admin-password-here
