TICKETMASTER_KEY=your_ticketmaster_api_key_here
SUPABASE_URL=https://gtwisvnkkovmvjibuhvd.supabase.co
SUPABASE_KEY=your_supabase_service_role_key_here

SENDGRID_API_KEY=your_sendgrid_api_key_here
ALERT_FROM_EMAIL=you@yourdomain.com
ALERT_EMAILS=subscriber1@email.com,subscriber2@email.com
